node_modules
dist
.env
.env.*
*.env
npm-debug.log
pnpm-debug.log
coverage
.DS_Store
prisma/*.db
prisma/*.db-journal
# Track Prisma migration files in VCS.
!prisma/migrations/
!prisma/migrations/**
.agent/
/cmd.exe
/powershell.exe
!.env.example

# Configs (Kept locally but removed from repository root)
/tsconfig.json
/vitest.config.mjs
/docker-compose.yml
/.prettierrc
/scripts/

# Package artifacts
*.tgz
